.modal {
    transition: opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

#overlay {
    transition: opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.truncate-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust as needed */
}